services:
  thtr-client-web:
    build:
      context: .  # Solution root, not project folder
      dockerfile: Dockerfile
      target: web-runtime  # Specify which final stage      
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:1412
    container_name: thtr-client-web-container    
    ports:
      - "80:1412"      
    cpuset: "0"
    restart: always
    networks:
      - thtr-network  
    
  thtr-persist:
    build:
      context: .  # Solution root
      dockerfile: Dockerfile
      target: persist-runtime  # Specify the persist stage
    environment:      
      - ASPNETCORE_ENVIRONMENT=Production     
      - ASPNETCORE_HTTP_PORTS=8080 
    container_name: thtr-persist-container        
    restart: always
    networks:
      - thtr-network 
    
networks:
  thtr-network:
    external: true