

<div id="div_avatar_container">
    <div id="div_avatar_preview">

    </div>


</div>

<input id="flood" />

<script type="module">

    import { _avatarAnimationData } from '/js/classes/AvatarAnimationData.js'

    $(async function() {
        await _avatarAnimationData.load();
    });

</script>