@{
    ViewData["Title"] = "Welcome to THTR!";
}

Welcome to the Ploskina Memetic Engineering THTR Demo. 

THTR is a next generation browser game with state of the art 2D graphics technology.

<button id="btn_edit_avatar" >Customize Avatar</button>

<script type="module">

    import { _modalManager } from './js/modals/ModalManager.js'

    $(function () {
        $("#btn_edit_avatar").click(function() {
            _modalManager.open('EditAvatar');
        });
    });


</script>



