<!DOCTYPE html>
<html lang="en">
<head>    
    <title>@ViewData["Title"] - THTR.Client.Web</title>    
</head>
<body>
   
    <div id="modal_container" style="display:none; border: 5px solid black; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 80vw; height: 80vh; z-index: 9999;">
    </div>


    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/pixi.js/pixi.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.0/signalr.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/msgpack-lite/0.1.26/msgpack.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@microsoft/signalr-protocol-msgpack@@8.0.0/dist/browser/signalr-protocol-msgpack.min.js"></script>

    
    @await RenderSectionAsync("Scripts", required: false)

    @RenderBody()
</body>
</html>
